body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(138, 102, 138);
}
header {
            background-color: white;
            padding: 20px 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0 2px 5px black;
        }
        .follow{
            background-color: transparent;
            color: white;
            padding: 12px 30px;
            border: 2px solid #440707;
            border-radius: 5px;
            cursor: pointer;
            font-size: 14px;
        }

        .follow:hover {
            border-color: #ff6b6b;
            color: #ff6b6b;
        }
        .image-section {
            flex: 1;
            display: flex;
            justify-content: center;
        }

        .profile-image {
            width: 100%;
            max-width: 400px;
            height: auto;
            border-radius: 10px;
        }
.buttons {
            display: flex;
            gap: 20px;
        }
.hello{
    color: black;
    font-size: 20px;
    margin-bottom: 20px;
}
h1{
    font-size: 48px;
            color: black;
            margin-bottom: 20px;
            line-height: 1.2;
}


.container {
            max-width: 1200px;
            margin: 80px auto;
            padding: 0 50px;
            display: flex;
            align-items: center;
            gap: 80px;
        }
 .logo {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 18px;
            font-weight: bold;
            color: rgb(75, 9, 9);
        }

 .logo-icon {
            width: 30px;
            height: 30px;
            background-color: #ff6b6b;
            border-radius: 5px;
        }

 .description {
            color:black;
            line-height: 1.8;
            margin-bottom: 30px;
            font-size: 18px;
        }
    .name {
            color: black;
        }
.hire-btn{
    background-color: #ff6b6b;
    color: white;
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
        }

        .hire-btn:hover {
            background-color: #ff5252;
        }
        nav {
            display: flex;
            gap: 30px;
            align-items: center;
        }

* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

